<!-- 
<div *ngIf="!isSummaryVisible">
  
  <h2>Ajouter une Réclamation :</h2>
  

  <button (click)="confirmAddReclamation()" class="btn btn-primary">Valider</button>
</div>
<div *ngIf="isSummaryVisible">
 
  <h2>Récapitulatif :</h2>
  <p>Référence : {{ newReclamation.reference }}</p>
  <p>Société : {{ newReclamation.societe }}</p>
  <p>Date de Réclamation : {{ newReclamation.dateReclamation }}</p>
  <p>Objet de Réclamation : {{ newReclamation.objetRecalamation }}</p>
  <p>Description : {{ newReclamation.description }}</p>

  <button (click)="cancelSummary()" class="btn btn-danger">Annuler</button>
</div> -->