<nav class="navbar navbar-expand-sm navbar-dark navbar-dark-blue">
    <!-- Brand -->
    <img src="./assets/logo.png" alt="Nom de votre logo" width="70pxs">
    <a class="navbar-brand" routerLink="/firstpage"> Gestion des Reclamations</a>

    
    <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav">
        </ul>
        <div class="navbar-deconnexion">
            <a href="#" class="text-white" (click)="logout()" style="text-decoration: none;">Déconnexion</a>
        </div>
    </div>

  </nav>


  