<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Objet de Reclamation</label> 
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)"> </div>
    </form>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>reference</th>
                        <th>societe</th>
                        <th>dateReclamation</th>
                        <th>Annee</th>
                        <th>nbSemaine</th>
                        <th>objetRecalamation</th>
                    </tr>
                </thead>
                <tbody *ngFor="let reclamation of reclamations">
                    <tr>
                        <td>{{reclamation.reference}}</td>
                        <td>{{reclamation.societe}}</td>
                        <td>{{reclamation.dateReclamation | date:'dd/MM/yyyy'}}</td>
                        <td>{{reclamation.annee}}</td>
                        <td>{{reclamation.nbSemaine}}</td>
                        <td>{{reclamation.objetRecalamation}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>